name: production
run-name: Dangerous Pets
on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0'
jobs:
  build:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Git Checkout
        uses: actions/checkout@v4
      - name: Login to Quay.io
        uses: docker/login-action@v3
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_ID }}
          password: ${{ secrets.QUAY_PW }}
      - name: Use Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
      - name: Build Web
        run: cd web && npm install && npm run build && cd ..
      - name: Build API
        run: cd api && npm install && cd ..
      - name: Docker Build
        run: |
          TAG=${{ github.run_number }}
          IMAGE=quay.io/loadster/dangerous-pets

          docker build -t $IMAGE:$TAG .
          docker image tag $IMAGE:$TAG $IMAGE:latest
          docker push -a $IMAGE